:root {
  --white: #ffffff;
  --canvas-dark: #212121;
  --canvas-light: #F9F5EC;
  --text-light: #ffffff;
  --text-dark: #1A1C1D;
  --accent: #F4F496;
  --accent-darker: #EFE880;
  --text-medium: #696664;

  --cs-text-dark: #F0F0F0;

  --faint-on-dark: #9F9E9A;

  --page-margin: 20px;
  --grid-gap: 8px;
}

@media (min-width: 700px) {
  :root {
    --page-margin: 3.75%; /* = 72px at a 1920 viewport; scales fluidly with width */
    --grid-gap: 48px;
  }
}