:root {
  --SlateBlue: #6860C9;
  --Ink: #172532;      
  --White: #FFFFFF;   
  --Shiny-Pearl: #FFF6E4; 
  --Off-White: #F7ECD7;
  --Moss-Bronze: #515449;
  --BlackDenim: #181C24;

  --page-margin: 20px;
  --grid-gap: 48px;
  --radius: 16px;
}

@media (min-width: 700px) {
  :root {
    --page-margin: 40px;
  }
}