
@font-face {
  font-family: 'Acid Grotesk Regular';
  src:
    url('../fonts/FFF-AcidGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/FFF-AcidGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acid Grotesk Normal';
  src:
    url('../fonts/FFF-AcidGrotesk-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Type scale
$type-scale-desktop: (
  xs: (
    font-family: 'Acid Grotesk Regular',
    size: 1rem,
    line-height: 120%,
    letter-spacing: 0.2px
  ),
  sm: (
    font-family: 'Acid Grotesk Regular',
    size: 1.25rem,
    line-height: 130%,
    letter-spacing: 0px
  ),
  body: (
    font-family: 'Acid Grotesk Normal',
    size: 1.45rem,
    line-height: 130%,
    letter-spacing: 0.5px
  ),
  md: (
    font-family:  'Acid Grotesk Regular',
    size: 1.875rem,
    line-height: 130%,
    letter-spacing: 0px
  ),
  lg: (
    font-family: 'Acid Grotesk Regular',
    size: 4.5rem,
    line-height: 120%,
    letter-spacing: 0px
  ),
  xl: (
    font-family: 'Acid Grotesk Regular',
    size: clamp(2.5rem, 1rem + 4vw, 5.375rem),
    line-height: 1,
    letter-spacing: -1px
  )
);


// Type scale Mobile
$type-scale-mobile: (
  xs: (
    font-family: 'Acid Grotesk Regular',
    size: 1rem,
    line-height: 120%,
    letter-spacing: 0.05px
  ),
  sm: (
    font-family: 'Acid Grotesk Regular',
    size: 1.25rem,
    line-height: 130%,
    letter-spacing: 0px
  ),
  body: (
    font-family: 'Inter Regular',
    size: 1.5rem,
    line-height: 130%,
    letter-spacing: 0.1px
  ),
  md: (
    font-family:  'Acid Grotesk Regular',
    size: 1.875rem,
    line-height: 130%,
    letter-spacing: 0px
  ),
  lg: (
    font-family: 'Acid Grotesk Regular',
    size: 3rem,
    line-height: 120%,
    letter-spacing: 0px
  ),
  xl: (
    font-family: 'Acid Grotesk Regular',
    size: clamp(2.5rem, 1rem + 4vw, 5.375rem),
    line-height: 1,
    letter-spacing: -1px
  )
);


// Mixin
@mixin type-scale($step) {
  $mobile: map-get($type-scale-mobile, $step);
  $desktop: map-get($type-scale-desktop, $step);

  font-family: map-get($mobile, font-family);
  font-size: map-get($mobile, size);
  line-height: map-get($mobile, line-height);
  letter-spacing: map-get($mobile, letter-spacing);

  @media (min-width: 700px) {
    font-family: map-get($desktop, font-family);
    font-size: map-get($desktop, size);
    line-height: map-get($desktop, line-height);
    letter-spacing: map-get($desktop, letter-spacing);
  }
}